* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
  margin: 0px;
  margin-top: 0px;
}

/* --nav-- */ 
.nav {
  overflow: hidden;
  background-color: #333;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 12;
}

#logo{
  float: left;
  display: block;
  color: #f2f2f2;
  line-height: 100px;
  margin: 0px;
  margin-left: 40px;
  margin-right: 80px;
}

#base{
  float: left;
  display: block;
  color: #f2f2f2;   
  text-align: center;
  line-height: 100px;
  text-decoration: none;
  margin: 0px 20px;
  font-size: 18px;
}

#login{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  line-height: 100px;
  text-decoration: none;
  margin: 0px 20px;
  font-size: 18px;
}
/* --nav-- */

.img{
  width: 100%;
  height: 700px;
  position: fixed;
  background-image: url(mountains.jpg);
  background-size: cover;
  top: 100px;
}
.img h1{
  padding-top: 15%;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #f2f2f2;
  font-family: poppins;
}

.img2{
  width: 100%;
  height: 700px;
  position: fixed;
  background-image: url(mountains.jpg);
  background-size: cover;
  filter: blur(8px);
  top: 100px;
}

#text {
  padding: 10px;
}


.glowny{
  position: relative;
  top: 650px;
  width: 100%;
  background-color: mintcream;
}
#pojedynczy{
  height: 70vh;
}
.stale{
  background-color: mintcream;
  padding: 10px;
}
.rightcolumn {   
  display: table-cell;
  float: right;
  width: 20%;
  height: 100%;
  padding: 10px;
  background-color: #E7EFEF;
}

.leftcolumn {
  display: table-cell;
  float: left;
  width: 80%;
  padding: 10px;
  background-color: mintcream;
}
#post {
  width: 40%;
  border: 2px solid grey;
  box-shadow: 5px 5px 7px;
}
.column{
  display: table;
  width: 100%;
  height: 150vh;
  background-color: mintcream;
}
#footer {
  background-color: #333;
  text-align: center;
  padding: 1%;
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}

input {
  height: 5vh;
  width: 15vw;
  padding: 12px 15px;
}
.error{
  color: red;
  margin: 10px;
}