#logmain {
    text-align: center;
    padding-top: 4%;
}
.login {
    color: white;
    text-align: center;
    position: relative;
    padding-bottom: 15%;
    filter: blur(0px);
}
#lin {
  top: 130px;
}
input:focus {
    border: 2px solid #555;
  }
input {
  height: 4vh;
  padding: 12px 15px;
}
#wpis {
    width: 20%;
}
#box{
  width:10%;
}
#loginbutton {
  border: none;
  box-sizing: content-box;
  text-decoration: none;
  margin-top: 3vh;
  height: 20%;
}
#log {
  font-size: 2vh;
}